.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.img {
    position: absolute;
}

h2{
    font-size: 60px;
    background-color: #fff;
    position: relative;
    top: 300px;
}

p{
    font-size: 30px;
        background-color: #fff;
        position: relative;
        top: 500px;
}